<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%level] [%logger] %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--Write log entries to a file in the working directory called LivestreamViewer.log.-->
    <file value="LivestreamViewer.log" />
    <!--Append log entries to the end of the active log file.-->
    <appendToFile value="true" />
    <!--Cap each log file at 10MB.-->
    <maximumFileSize value="10MB" />
    <!--Don't keep more than 10 log files at a time.-->
    <maxSizeRollBackups value="10" />
    <!--Each log entry will contain the date, level (INFO, ERROR, ..., etc.), the originating class, and message.-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%level] [%logger] %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <!--Log to the console for visual verification at runtime.-->
    <appender-ref ref="Console" />
    <!--Log to a file for later analysis.-->
    <appender-ref ref="RollingFile" />
  </root>
</log4net>